[user]
    name = Will DeBerry
    email = willdeberry@gmail.com
[color]
    ui = always
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[merge]
    tool = emerge
[core]
    editor = vim
    autocrlf = input
    ignorecase = false
    pager = /usr/share/git-core/contrib/diff-highlight | less -F -X
[alias]
    lg = log --oneline --graph --decorate
    ca = commit -a
    cl = clean -i
    cm = commit
    cp = cherry-pick
    co = checkout
    st = status
    mt = mergetool
[push]
    default = simple
[branch]
    autosetuprebase = always
