[user]
    name = Will DeBerry
    email = willdeberry@gmail.com
[color]
    ui = always
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[merge]
    tool = emerge
[core]
    editor = vim
    autocrlf = false
    ignorecase = false
    pager = /usr/local/bin/diff-highlight | less -F -X
[alias]
    lg = log --oneline --graph --decorate
    ca = commit -a
    cl = clean -i
    cm = commit
    cp = cherry-pick
    co = checkout
    st = status
    mt = mergetool
    recent = branch -r --sort=-committerdate --format="%(committerdate)%09%(refname:short)"
[push]
    default = simple
    autoSetupRemote = true
[branch]
    autosetuprebase = always
[fetch]
    prune = true
